@import url('https://fonts.googleapis.com/css2?family=Indie+Flower&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lora:ital,wght@1,500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Delius&family=Lora:ital,wght@1,500&display=swap');

body {
	font-family: 'Indie Flower', cursive;
	font-size: 20px;
	background: #eee;
}

h2 {
	font-family: 'Lora', serif;
	text-align: left;
	font-size: 30px;
}

p {

	font-family: 'Delius', cursive;
}

.titre {
	font-family: 'Delius', cursive;
}

.citation {
	font-family: 'Indie Flower', cursive;
	font-size: 30px;
	font-weight: bold;
}

.img-thumbnail {
	border: 3px solid #111;
}

hr.secDiv {
	border: 3px solid #ccc;
	box-shadow: 0 1px 0 #999;
	margin: 30px 0;
}

.social {
	font-size: 40px;
}

.social a {
	color: #666;
	text-decoration: none;
	transition: all 0.3s;
}

.social a:hover,
.social a:focus {
	color: #111;
	text-shadow: 0px 0px 3px #111;
}

#about h1,
#portfolio h1,
#contact h1 #parcours h1 {
	font-size: 40px;
	margin: 0 0 15px 0;
}


#contact {
	min-height: 250px;
}

td {
	border-radius: 1px;
}

.titre {
	font-size: large;
	font-weight: bold;
}

.large {
	table-layout: fixed;
	width: 500px;
}

.table-primary {
	font-family: 'Indie Flower', cursive;
	font-size: 20px;
	background: #eee;
	color: #000;
	border-color: #c2d1e5;
}

.table-secondary {
	font-family: 'Indie Flower', cursive;
	font-size: 20px;
	background: #eee;
	color: #000;
	border-color: #dee0e3;
}


.mb-1 {
	font-family: 'Indie Flower', cursive;
}

.titre {
	font-weight: bold;
}

.skills-chart{
	font-family: 'Indie Flower', cursive;
	text-align: left;
	font-size: 20px;
}
footer {
	font-family: 'Indie Flower', cursive;
	font-size: 20px;
	background: rgb(0, 0, 0);
	color: rgb(255, 255, 255);
	padding: 15px;
	text-align: center;
}

footer a {
	color: rgb(255, 255, 255);
}

footer a:hover,
footer a:focus {
	color: #bd0303;
	text-decoration: none;
}
